
body {
    background-color: #eeeeee;
    overflow: auto;
}

.fas {
    z-index: -1;
  }

::-webkit-scrollbar {
    display: none;
}

.main-frame {
    margin: 0 auto;
    width: 600px;
    text-align: center;
    background-color: #eeeeee;
    width: fit-content;
    max-width: 600px;
    min-width: 200px;
}

.title {
    position: relative;
    font-size: x-large;
    font-weight: 800;
}

.output {
    position: relative;
}